@model projeto_final.Models.SaidaProduto

@{
    ViewData["Title"] = "Detalhes";
}

<h1>
    Detalhes da saída do : @Html.DisplayFor(model => model.Produto.ProdutoNome)
</h1>

<div>
    <hr />
    <section class="row">
        <div class="tipoprodutocss">
            <h4>
                @Html.DisplayNameFor(model => model.SaidaProdutoData)
                :
            </h4>
            <h5>
                @Html.DisplayFor(model => model.SaidaProdutoData)
            </h5>
        </div>
        <div class="tipoprodutocss">
            <h4>
                @Html.DisplayNameFor(model => model.SaidaProdutoQuantidade)
                :
            </h4>
            <h5>
                @Html.DisplayFor(model => model.SaidaProdutoQuantidade)
            </h5>
        </div>
        <div class="tipoprodutocss">
            <h4>
                @Html.DisplayNameFor(model => model.Produto)
                :
            </h4>
            <h5>
                @Html.DisplayFor(model => model.Produto.ProdutoNome)
            </h5>
        </div>
        <div class="tipoprodutocss">
            <h4>
                @Html.DisplayNameFor(model => model.Usuario)
                :
            </h4>
            <h5>
                @Html.DisplayFor(model => model.Usuario.UsuarioNome)
            </h5>
        </div>
        <div class="tipoprodutocss">
            <h4>
                @Html.DisplayNameFor(model => model.Cliente)
                :
            </h4>
            <h5>
                @Html.DisplayFor(model => model.Cliente.ClienteNome)
            </h5>
        </div>
        <div class="tipoprodutocss">
            <h4>
                @Html.DisplayNameFor(model => model.TipoSaida)
                :
            </h4>
            <h5>
                @Html.DisplayFor(model => model.TipoSaida.TipoSaidaDescricao)
            </h5>
        </div>
    </section>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
