@model IEnumerable<projeto_final.Models.SaidaProduto>

@{
    ViewData["Title"] = "Saídas";
}

<div class="title mt-4 mb-4">
    <h1>Saídas</h1>
    <button class="btn btn-success mt-2">
        <a asp-action="Create" class="text-decoration-none text-white">Adicionar saída</a>
    </button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SaidaProdutoData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaidaProdutoQuantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                Tipo de saída
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SaidaProdutoData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaidaProdutoQuantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.ProdutoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.UsuarioNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.ClienteNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoSaida.TipoSaidaDescricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
            </td>
        </tr>
}
    </tbody>
</table>
