@model projeto_final.Models.Cliente

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes do @Html.DisplayFor(modelItem => modelItem.ClienteNome)</h1>

<div>
    <section class="row">
        <div class="tipoprodutocss">
            <h4>
                @Html.DisplayNameFor(model => model.ClienteNome)
                :
            </h4>
            <h5>
                @Html.DisplayFor(model => model.ClienteNome)
            </h5>
        </div>
        <div class="tipoprodutocss">
            <h4>
                @Html.DisplayNameFor(model => model.ClienteDataNascimento)
                :
            </h4>
            <h5>
                @Html.DisplayFor(model => model.ClienteDataNascimento)
            </h5>
        </div>
        <div class="tipoprodutocss">
            <h4>
                @Html.DisplayNameFor(model => model.ClienteCpf)
                :
            </h4>
            <h5>
                @Html.DisplayFor(model => model.ClienteCpf)
            </h5>
        </div>
        <div class="tipoprodutocss">
            <h4>
                @Html.DisplayNameFor(model => model.ClienteEndereco)
                :
            </h4>
            <h5>
                @Html.DisplayFor(model => model.ClienteEndereco)
            </h5>
        </div>
        <div class="tipoprodutocss">
            <h4>
                @Html.DisplayNameFor(model => model.ClienteNumeroCasa)
                :
            </h4>
            <h5>
                @Html.DisplayFor(model => model.ClienteNumeroCasa)
            </h5>
        </div>
        <div class="tipoprodutocss">
            <h4>
                @Html.DisplayNameFor(model => model.ClienteBairro)
                :
            </h4>
            <h5>
                @Html.DisplayFor(model => model.ClienteBairro)
            </h5>
        </div>
        <div class="tipoprodutocss">
            <h4>
                @Html.DisplayNameFor(model => model.ClienteCep)
                :
            </h4>
            <h5>
                @Html.DisplayFor(model => model.ClienteCep)
            </h5>
        </div>
        <div class="tipoprodutocss">
            <h4>
                @Html.DisplayNameFor(model => model.ClienteTelefone)
                :
            </h4>
            <h5>
                @Html.DisplayFor(model => model.ClienteTelefone)
            </h5>
        </div>
        <div class="tipoprodutocss">
            <h4>
                @Html.DisplayNameFor(model => model.Cidade)
                :
            </h4>
            <h5>
                @Html.DisplayFor(model => model.Cidade.CidadeNome)
            </h5>
        </div>

    </section>
    <div class="divDetails">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="text-black">Editar</a> |
        <a asp-action="Index" class="text-black">Voltar</a>
    </div>

</div>

