@model IEnumerable<projeto_final.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
}

<div class="title mt-4 mb-4">
    <h1>Produtos</h1>
    <button class="btn btn-success mt-2">
        <a asp-action="Create" class="text-decoration-none text-white">Adicionar Produto</a>
    </button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProdutoNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdutoEstoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProdutoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdutoEstoque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoProduto.TipoProdutoDescricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fornecedor.FornecedorNome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
