@model IEnumerable<projeto_final.Models.TipoSaida>

@{
    ViewData["Title"] = "Tipos da saídas";
}

<div class="title mt-4 mb-4">
    <h1>Tipos de saida</h1>
    <button class="btn btn-success mt-2">
        <a asp-action="Create" class="text-decoration-none text-white">Adicionar novo tipo</a>
    </button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoSaidaDescricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoSaidaDescricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
