@model IEnumerable<projeto_final.Models.TipoProduto>

@{
    ViewData["Title"] = "Tipos de produtos";
}

<h1>Tipos de produtos</h1>

<button class="btn-success">
    <a asp-action="Create" class="text-white text-decoration-none">Adicionar um novo tipo</a>
</button>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoProdutoDescricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoProdutoDescricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
