@model projeto_final.Models.EntradaProduto

@{
    ViewData["Title"] = "Detalhes";
}

<h1>
    Detalhes sobre a entrada do : @Html.DisplayFor(model => model.Produto.ProdutoNome)
</h1>

<div>
    <hr />
    <section class="row">
        <div class="tipoprodutocss">
            <h4>
                @Html.DisplayNameFor(model => model.EntradaProdutoQuantidade)
                :
            </h4>
            <h5>
                @Html.DisplayFor(model => model.EntradaProdutoQuantidade)
            </h5>
        </div>
        <div class="tipoprodutocss">
            <h4>
                @Html.DisplayNameFor(model => model.EntradaProdutoData)
                :
            </h4>
            <h5>
                @Html.DisplayFor(model => model.EntradaProdutoData)
            </h5>
        </div>
        <div class="tipoprodutocss">
            <h4>
                @Html.DisplayNameFor(model => model.Produto)
                :
            </h4>
            <h5>
                @Html.DisplayFor(model => model.Produto.ProdutoNome)
            </h5>
        </div>
    </section>

</div>
<div class="divDetails">
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
