@model IEnumerable<projeto_final.Models.EntradaProduto>

@{
    ViewData["Title"] = "Entradas";
}



<div class="title mt-4 mb-4">
    <h1>Entrada de produto</h1>
    <button class="btn btn-success mt-2">
        <a asp-action="Create" class="text-decoration-none text-white">Adicionar nova entrada</a>
    </button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EntradaProdutoQuantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntradaProdutoData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EntradaProdutoQuantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntradaProdutoData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.ProdutoNome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Destalhes</a> 
            </td>
        </tr>
}
    </tbody>
</table>
