@model projeto_final.Models.Fornecedor

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Fornecedor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FornecedorNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FornecedorNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FornecedorEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FornecedorEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FornecedorCnpj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FornecedorCnpj)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
