@model IEnumerable<projeto_final.Models.Fornecedor>

@{
    ViewData["Title"] = "Fornecedor";
}

<h1>Fornecedor</h1>

<p>
    <a asp-action="Create" class="text-decoration-none text-white btn-success">Adicionar um fornecedor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FornecedorNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FornecedorEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FornecedorCnpj)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FornecedorNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FornecedorEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FornecedorCnpj)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
